<%- include("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <div class="item_container">
            <% newListItems.forEach((item)=>{ %>
                <form action="/delete" method="post">
                    <div class="box_item">
                        <input type="checkbox" name="checkedbox" onchange="this.form.submit()" value="<%= item.id %>">
                        <p>
                            <%= item.name %>
                        </p>

                    </div>

                </form>

                <% }) %>
        </div>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list">+</button>
        </form>

    </div>
    <%- include("footer") -%>